
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<ol>
    @foreach(var item in ViewBag.Names)
            {
                <li>@item</li>
            }
</ol>


